NET CLK_66MHZ LOC = K15 | IOSTANDARD = LVCMOS33;
Net CLK_66MHZ TNM_NET = CLK_66MHZ;
TIMESPEC TS_CLK_66MHZ = PERIOD CLK_66MHZ 15000 ps INPUT_JITTER 1000 ps;
NET LED1 LOC = P4 | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = SLOW;
NET RESET LOC = V4 | IOSTANDARD = LVCMOS33 | PULLDOWN;
CONFIG VCCAUX = "3.3";
NET SDA LOC = F14 | IOSTANDARD = LVCMOS33;
NET SCL LOC = G14 | IOSTANDARD = LVCMOS33;
NET T1 LOC = D17 | IOSTANDARD = LVCMOS33;
NET T2 LOC = D18 | IOSTANDARD = LVCMOS33;